//file linked to "copy-cat.html" and "copy-cat.scss"
//modules and partials

//format webpage according to light mode standards
.lightMode {
    background-color: #fff;
    font-family: $main-font;
    color: $secondary-writing-colour;
    border: 50px solid #fff;
}


//distribute space accurately along main axis of flex container
formatContent {
    //align elements flexibly and distribute space within element (https://www.freecodecamp.org/news/the-css-flexbox-handbook/#:~:text=It%27s%20a%20CSS%20layout%20model,Flexbox%20layout%20model%20is%20bidirectional.)
    display: flex;
    align-items: center;
    //property defines how the browser distributes space (https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content)
    justify-content: center;
}

//distribute space accurately inside flex container (cross axis)
formatItems {
    display: flex;
    align-items: center;
    justify-items: center;
}

/*
referenced https://www.w3.org/Style/Examples/007/center.en.html#block
website referenced for guidance on how to centre an image/a block of text

.centreImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
*/